.post-tags {
  margin-top: 40px;
  text-align: center;

  a {
    display: inline-block;
    font-size: $font-size-smaller;
    padding: 3px 6px;
    border: 1px solid transparent;
    border-radius: 5px;
    color: #fff !important;
    
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}
